@mixin flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

@mixin hp1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  color: var(--color-primary);
}

@mixin hp2 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--color-primary);
}

@mixin hp3 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-primary);
}

@mixin hs1 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: var(--color-grey-dark-2);
  // color: var(--color-primary);
}

@mixin hs2 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-grey-dark-2);
}

@mixin hs3 {
  font-family: Poppins;
  font-weight: 800;
  font-size: 20px;
  line-height: 32px;
}

@mixin hs4 {
  font-family: Poppins;
  font-weight: 900;
  // color: var(--color-grey-dark-2);
  color: var(--color-primary);
}

@mixin hs5 {
  font-family: Poppins;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  // color: var(--color-grey-dark-2);
  color: var(--color-primary);
}
